{% extends "layout.html" %}

{% block content %}



<div class="row">
     <img src="http://oranuzrad.pythonanywhere.com/static/imgs/tichonet.png">
</div>
<div class="row">
    <h2></h2>
    <br /><br />
</div>
<div class="row">
    <div class="col-md-6">
        <h2 class="heb">Guy Shtiler</h2>
        <h4 class="heb">guy.09800@gmail.com</h4>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-5">
        <img src="/static/pics/contactpic.png" class="img-thumbnail" height="200" width="200">
    </div>
</div>

{% endblock %}