{% extends "layout.html" %}


{% block content %}

<div class="jumbotron">
    <h1 class="heb">Analysis of Crime in the US</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 class="heb">In this project I will analyze the diffrences of crime and more in several cities in the US</h2>
        <p class="heb"><b>
    Just because firearms are allowed in the US you will be surprised the amount of guns involved in incidents.
            </b>
            <br /><br />
            <b>San Francisco</b>- The fourth biggest sized city in California with 6,898 people per square kilometer doesn't mean it's safe
            <br />
            <br />
            <b>Boston</b>- The capital and the biggest city of Massachusetts you will be surprised to find out the amount of crimes there...
            <br />
        </p>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-5">
        <br /><br /><br /><br /><br />
        <img src="/static/pics/Kowalski.jpg" class="img-thumbnail" height="500" width="500">
    </div>
</div>




{% endblock %}