{% extends "layout.html" %}

{% block content %}
<h1> Some Photos About The Cities I've Analyzed</h1>
<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <td><p><b>Boston</b></p><img src="/static/pics/Boston.jpg" class="img-thumbnail" height="300" width="300"></td>
                <td><p><b>San Francisco</b></p><img src="/static/pics/SanFrancisco.jpg" class="img-thumbnail" height="300" width="300"></td>
            </tr>
        </tbody>
    </table>
</div>
    {% endblock %}
